/* Font px to rem mixin */
@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

/* Book Item */
.book-container {
    width: 8vw;
    height:20vh;
    margin: 3vw;
    float:left;
}

.book-title {
    @include font-size()
}

.book-authors {
    @include font-size(1.4)
}

/* Book Item List */
.books-container {
    width: 100vw;
}

/* Book Item List Actions */
.search-bar {
    float:right;
    margin-top: 2vh;
    margin-right: 5vw;
    @include font-size(1.2)
}

.sort-select {
    float:left;
    clear:left;
    margin-top: 2vh;
    margin-left: 3vw;
    @include font-size(1.2)
}

.list-functions {
    width: 100vw;
    height: 5vh;
}